
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/static/bootstrapTable/bootstrap-table.min.css">

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">工资管理</h3>

		<div class="box-tools pull-right">
			<div style="display:inline-block;border:1px solid;" >
				<input type="date" id="select_userPaySlip_startDay" name="startDay" />
			</div>
			<div style="display:inline-block;border:1px solid;" >
				<input type="date" id="select_userPaySlip_endDay" name="endDay" />
			</div>
			<button type="button" class="btn btn-box-tool" data-widget="collapse">
				<i class="fa fa-minus"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
		</div>
	</div>
	<!-- /.box-header -->
	<div class="box-body" id="userPaySlip_table_id" style="">	

	</div>
	<!-- ./box-body -->
	<div class="box-footer" style="">
	</div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="/static/bootstrapTable/bootstrap-table.min.js"></script>
<script src="/static/bootstrapTable/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/bootstrapTable/extensions/export/tableExport.min.js"></script>
<script src="/static/bootstrapTable/extensions/export/bootstrap-table-export.min.js"></script>
<script src="/static/userPaySlip.js"></script>
